= render "/partials/nav"
%br
%br
%br
.jumbotron
    .jumbo-bg
        = video_tag('Space.mp4', :controls => false, :autoplay => true, :loop => true, :height => "100%", :width => "100%", :class => "jumbo-video")
    .jumbotron-content.text-white
        %h1.display-3
            SOVA15
            Equal weight CryptoCurrency Index
        %p.lead
            Now you can partake in the whole crypto space 
            with the world's premiere equal weight cryptocurrency index. 
        %hr.my-4
        .breaker
        %p.lead
            %a.btn.btn-success.btn-md.jumbo-btn{:href => "#", :role => "button"}
                <i class="fab fa-bitcoin"></i> Buy ICO
            %a.btn.btn-info.btn-md.jumbo-btn{:href => "#", :role => "button"}
                <i class="fab fa-slack"></i> Join #Slack
            %a.btn.btn-primary.btn-md.jumbo-btn{:href => "#", :role => "button"}
                <i class="far fa-file-alt"></i> Whitepaper
        %p.icons
            %i.fab.fa-facebook-square.fa-lg.jumbo-icon
            %i.fab.fa-twitter-square.fa-lg.jumbo-icon
            %i.fab.fa-reddit-square.fa-lg.jumbo-icon
            %i.fab.fa-github-square.fa-lg.jumbo-icon
            %i.fab.fa-medium.fa-lg.jumbo-icon
            %i.fab.fa-youtube.fa-lg.jumbo-icon
            %i.far.fa-envelope.fa-lg.jumbo-icon

.currencies
    %table{:class => ["table", "toptable"]}
        %thead
            %tr
                %th{:scope=> "col"}
                    Rank
                %th{:scope=> "col"}
                    Symbol
                %th{:scope=> "col"}
                    Name
                %th{:scope=> "col"}
                    MktCap
                %th{:scope=> "col"}
                    Price
                %th{:scope=> "col"}
                    Pct Chg
        %tbody
            - @response.each do |c|
                %tr
                    %th{:scope=> "row"}
                        = c["rank"]
                    %td
                        = c["symbol"]
                    %td
                        = c["name"]
                    %td
                        = c["market_cap_usd"]
                    %td
                        = "$ #{c["price_usd"]}"
                    %td
                        = "#{c["percent_change_24h"]}%"